# editor stuff
.idea
.vscode

.jj
.git

.direnv
.claude

logfile
#sortly.csv

# PostgreSQL
.postgres/

# dev env
.env
.devenv
.devenv.flake.nix
.pre-commit-config.yaml

node_modules/
.DS_Store
dist/

# MkDocs generated site
site/
